.header {
  margin-top: 45px;
  border-bottom: 1px solid;
  border-color: #545454;
  margin-top: 45px;
}

.header__logo {
  margin-top: 28px;
  margin-left: 27px;
  margin-bottom: 32px;
}

@media screen and (max-width: 480px) {
  .header {
    display: flex;
  }
}
