.page {
  background-color: black;
  color: white;
  font-family: Inter, Arial, Helvetca, sans-serif;
}

.page__content {
  max-width: 880px;
  margin: 0 auto;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
}
